body {
	margin: 0px;
	padding: 0px;
	color: #000000;
	background-color: #3469a9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
}

table#t01 {
    width: 100%; 
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

h1, h2, h3, h4 {
	margin-top: 0px;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 130%;
}

h4 {
	font-size: 100%;
}

p, ol, ul {
	line-height: 140%;
}

a {
	color: #3469a9;
	text-decoration:none
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	border: 10px solid #FFFFFF;s
}

/* Header */

#header {
	width: 960px;
	height: 60px;
	margin: 0px auto;
}



/* Logo */

#img{
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#title {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#logo {
	background-color: #FFFFFF;
	margin-top: 5px;
	padding-top: 5px;
}


/* Menu */


/* Page */

#page {
	width: 960px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	background: #FFFFFF;
}


/* Content */

#content {
	float: right;
	width: 650px;
}

.post {
	margin: 0px 0px 30px 0px;
}

.post .title {
	padding: 5px 20px;
	background-color:  #3469a9;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 50%;
}

.post .subtitle {
	padding: 2px 10px;
	background-color:  #346993;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 20%;
}



.post .title h1 {
}

.post .entry {
	padding: 0 20px;
}

.post .meta {
	font-weight: bold;
	padding-left: 20px;
}

.post .byline {
	margin: 0px;
	padding-left: 20px;
}

/* Sidebar */



#sidebar {
	float: left;
	width: 300px;
}

#sidebar-bgbtm {
	background: url(images/img03.jpg) no-repeat left bottom;
}

#sidebar-content {
	background: url(images/img01.jpg) repeat-y left top;
}

#sidebar ul {
	padding: 0px 0 2px 0;
	margin: 0px;
	list-style: none;
}

#sidebar li  {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 18px;
	padding-left: 15px;
	border-bottom: 1px dashed #BDBDBD;
	background-repeat: no-repeat;
}

#sidebar li ul {
	margin-bottom: 5px;
	list-style: none;
}


#sidebar h2 {
	padding: 5px 20px;
	background-color:  #3469a9;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left 50%;
}



#sidebar a {
	text-decoration: none;
}




/* Search */


#links, #links a
{
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: helvetica, arial;
}

#links .selected, #links a .selected{
background-color: #CCFFFF;
text-decoration:none;
}

#links   > li:hover {background: #CCFFFF;}


#links li
{
	padding: 4px;
	list-style-type: none;
	text-decoration: none;
}

#links > li {font-weight: bold;}

.splitcontentleft{
	float:left;
	width:50%;
	background-color: #FFFFFF;
}
.splitcontentright{
	float:right; 
	width:50%; 
	background-color: #FFFFFF;
}
	


#text{
	color: #000000;
	text-align: left;
	padding: 5px;
	margin: 5px;
	font-family: "Times New Roman", Times, serif;
}

TD.Break { font-weight: bold; }
TD.Social { font-weight: bold; color: #C00000; background-color: #D0FFD0 }
TD.empty { padding-top: 0.5em; }
.Notes { font-weight: bold; color: #000000; background-color: #E2E2E2 }
.Day {
	font-weight: bold;
	color: #FFFFFF;
	BACKGROUND: left bottom;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #3469a9;
}
.Time {
	font-weight: normal;
	color: #FFFFFF;
	BACKGROUND:  left bottom;
	vertical-align: top;
	white-space: nowrap;
	background-color: #3469a9;
}
.Session { font-weight: bold; }
.title { font-weight: bold; }
.subtitle { font-style: italic; }
.keynote { font-weight: normal; }
.keynoter { font-weight: bold; }
.paper { font-style: italic; }
.author { font-style: normal; font-size: 95%; }
